<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>ECDIY</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="廊坊市酷秀网络科技有限公司">
    <meta name="keywords" content="网站建设|社区电商|廊坊网络推广|廊坊网站设计|廊坊微信开发运营|廊坊软件定制|廊坊小程序开发">
    <meta name="description" content="注册即可用，社区SAAS平台">
</head>
<body>
    <div id="app"></div>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?bb9a62f970acd1af38908b4e268a6050";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body></html>